body
    margin: 0
    padding: 0
    .header1
        font-family: "Jokerman"
        line-height: 1.2
        justify-content: space-between
        flex-wrap: nowrap
        display: flex
        align-items: center
        .head1
            font-size: 60px 
            color: rgb(80, 148, 242)
            cursor: pointer 
            img
                align-items: center
                padding-bottom: 15px
        .head2
            a
                font-size: 25px
                color: rgb(108, 108, 108)
                padding-left: 10px
            a:hover  
                text-decoration: none
                border-bottom: 4px solid  rgb(80, 148, 242) 
                padding-bottom: 15px            
            
    .bg_img
        background-image: url(../img/Group4.png)
        background-position: 0 0
        background-repeat: no-repeat
        background-size: 100%
        background-attachment: fixed
        
        .main2
            img
                cursor: pointer

        .main2 
            color: #fff  
            text-align: left
            
            align-items: center

            span
                font-family:myriad-pro, sans-serif 
                font-size: 22px
  
            p
                font-size: 44px
                font-family: myriad-pro, sans-serif
                font-weight: 100
                line-height: 1.01  
            button
                background-color: #5094f2
                border: none
                color: #fff
                font-size: 22.35px
                line-height: 1.987
                font-family: StylusBT
    .picture3
        text-align: center
        img
            cursor: pointer
        .blue
            font-size: 28px
            font-family: myriad-pro, sans-serif
            color: rgb(80, 148, 242)
            line-height: 1.571
        span
            font-size: 18px
            font-family: "Segoe Print"
            color: rgb(144, 144, 144)
            line-height: 1.2
    .shopping
        font-size: 50px
        font-family: "Jokerman"
        color: rgb(77, 142, 215)
        line-height: 0.9
        text-align: left
        text-shadow: 0px 9px 0px rgba(122, 130, 161, 0.37)
    .footer1
        img
            cursor: pointer
        p
            width: 85%
            font-size: 30px
            font-family: myriad-pro, sans-serif
            text-align: center
            color: rgb(111, 113, 115)
            line-height: 1.5
    
        span
            font-family: myriad-pro, sans-serif
            color: rgb(144, 144, 144)
            line-height: 2.25
            text-align: left
    .footer2
            font-size: 25px
            font-family: "Algerian"
            color: rgb(144, 144, 144)
            line-height: 1.44
            text-align: center
            cursor: pointer
   
    

    

  




       

        
            